{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYP</title>
    <link rel="stylesheet" href="{% static 'css/web_design.css' %}"/>
    </head>
<body>
    <!-- Header 
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header id="header">
    <div class="main_nav">
      <div class="container">
        <div class="mobile-toggle">
        </div>
        <nav>
          <ul>
            <li><a class="smoothscroll" href="#header">Anasayfa</a></li>
            <li><a class="smoothscroll" href="#about">Hakkımda</a></li>
            <li><a class="smoothscroll" href="#skills">Beceriler</a></li>
            <li><a href="{% url 'login' %}">Panel</a></li>
            <li><a href="{% url 'contact' %}">İletişim</a></li>
          </ul>
        </nav>
      </div>
    </div>   
<div class="title">
  {% for title in titles %}
      <div class="smallsep heading"></div>
      <h1 class="heading">{{ title.head }}</h1>
      <h2 class="heading">{{ title.opening }}</h2>
  {% endfor %}
  <a class="smoothscroll" href="#about">
      <div class="mouse">
          <div class="wheel"></div>
      </div>
  </a>
</div>
<a class="smoothscroll" href="#about">
  <div class="scroll-down"></div>
</a>
</header>
  
  <!-- About 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <section id="about">
    <div class="container">
      <div class="row">
        <h1>Hakkımda</h1>
        <div class="block"></div>
        <p>2010 yılında programlama dilleriyle tanıştım, şu anda HTML/CSS (Tailwind), JavaScript (React, Redux, Node.js Kütüphaneleri), PHP, Mangodb ile çalışabiliyorum. 2023'te Amasya Üniversitesi Bilgisayar Mühendisliği bölümüme girerek lisans eğitimimi tamamlama kararı verdim.</p>
      </div>
      <div class="container">
        {% for about in about %}
        <div class="row">
          <h3>{{about.title}}</h3>
          <p>{{about.desription}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
  <!-- Projects 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <section id="projects">
    <div class="container">
      <div class="row">
        <h1> Projelerim</h1>
        <div class="block"></div>
      </div>
      <div class="row">
        {% for project in projects %}
        <div class="three columns"> <img src="{{ project.image.url }}" width="220" height="220" alt="" />
          <h4>{{ project.title }}</h4>
          <p>{{ project.desription }}</p>
      </div>
      {% endfor %}    
    </div>
  </section>
  
  <!-- Skills 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <section id="skills">
    <div class="container">
      <h1>Becerilerim</h1>
      <div class="block"></div>
      <div class="row">
          {% for skill_about in skill_about %}
        <div class="one-third column">
          <h3>{{skill_about.title}}</h3>
          <p>{{skill_about.desription}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="eight columns">
          {% for skill_value in skill_value %}
          <div class="progressBar">
            <h4>{{skill_value.title}}</h4>
            <div class="progressBarContainer">
              <div class="progressBarValue value-{{skill_value.value}}"></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <footer>
    <div class="container">
      <div class="nine columns">
        <p>© 2024 NYP-II grubu Yiğit-Furkan-Derman</p>
        <p>Bu site tamamen Django kütüphanesi ile yazıldı, Görsel kısımlarda Jquerry kullanıldı.</p>
      </div>
    </div>
  </footer>
</body>
</html>